<h1>Edición de un animal</h1>

<%= link_to 'Ver', @registro_bovino %> |
<%= link_to 'Volver', registro_bovinos_path %>

<%= render 'form' %>

<%= link_to 'Ver', @registro_bovino %> |
<%= link_to 'Volver', registro_bovinos_path %>
