<h1>Editing registro_bovino</h1>

<%= link_to 'Show', @registro_bovino %> |
<%= link_to 'Back', registro_bovinos_path %>

<%= render 'form' %>

<%= link_to 'Show', @registro_bovino %> |
<%= link_to 'Back', registro_bovinos_path %>
