<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_registro_bovino_path(@registro_bovino) %> |
<%= link_to 'Back', registro_bovinos_path %>

<p>
  <b>Id:</b>
  <%= @registro_bovino.id %>
</p>

<p>
  <b>Crotal:</b>
  <%= @registro_bovino.crotal %>
</p>

<p>
  <b>Nacimiento:</b>
  <%= @registro_bovino.nacimiento %>
</p>

<p>
  <b>Sexo:</b>
  <%= @registro_bovino.sexo %>
</p>

<p>
  <b>Raza:</b>
  <%= @registro_bovino.raza %>
</p>

<p>
  <b>Causa alta:</b>
  <%= @registro_bovino.causa_alta %>
</p>

<p>
  <b>Vendedor nombre:</b>
  <%= @registro_bovino.vendedor_nombre %>
</p>

<p>
  <b>Vendedor nif:</b>
  <%= @registro_bovino.vendedor_nif %>
</p>

<p>
  <b>Vendedor codigo:</b>
  <%= @registro_bovino.vendedor_codigo %>
</p>

<p>
  <b>Vendedor explotacion:</b>
  <%= @registro_bovino.vendedor_explotacion %>
</p>

<p>
  <b>Crotal madre:</b>
  <%= @registro_bovino.crotal_madre %>
</p>

<p>
  <b>Alta explotacion:</b>
  <%= @registro_bovino.alta_explotacion %>
</p>

<p>
  <b>Causa baja:</b>
  <%= @registro_bovino.causa_baja %>
</p>

<p>
  <b>Comprador nombre:</b>
  <%= @registro_bovino.comprador_nombre %>
</p>

<p>
  <b>Comprador nif:</b>
  <%= @registro_bovino.comprador_nif %>
</p>

<p>
  <b>Comprador codigo:</b>
  <%= @registro_bovino.comprador_codigo %>
</p>

<p>
  <b>Baja explotacion:</b>
  <%= @registro_bovino.baja_explotacion %>
</p>

<p>
  <b>Traslado serie:</b>
  <%= @registro_bovino.traslado_serie %>
</p>

<p>
  <b>Traslado numero:</b>
  <%= @registro_bovino.traslado_numero %>
</p>

<p>
  <b>Balance fecha:</b>
  <%= @registro_bovino.balance_fecha %>
</p>

<p>
  <b>Balance numero cabezas:</b>
  <%= @registro_bovino.balance_numero_cabezas %>
</p>


<%= link_to 'Edit', edit_registro_bovino_path(@registro_bovino) %> |
<%= link_to 'Back', registro_bovinos_path %>
